body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , serif;
}

.bg-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#000, aqua);
    color: white;
}

.card {
    position: absolute;
    height: 80vh;
    width: 90vw;
    background-color: #000;
    border-radius: 50px;
    box-shadow: 0px 4px 8px #000;
    align-items: center;
    margin: 80px;
}
.card .nav h1{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 100px;
}
.profession{
    color: aqua;
}

.desc {
    display: flex;
}

.desc-content{
    margin-left: 150px;
}

.icons {
    color: aqua;
    display: flex;
    gap: 20px;
}

.desc-image img {
    width: 400px;
    height: 400px;
    margin-top: -50px;
}